@use 'typography'
@use 'colors'
@use 'layout'

* 
    padding: 0
    margin: 0
    box-sizing: border-box

body 
  @include colors.color-scheme(colors.$scheme-default ...)
  font: 100% typography.$font-main
  font-size: 16px
        

.content
    transition: transform 0.4s ease-in-out
    margin-left: 100px
    scroll-behavior: smooth

.content-pushed
    transform: translateX(200px)
    transition: transform 0.4s ease-in-out

.fade 
    animation: fade 1s ease-in

a
    text-decoration: none
    color: colors.$accent-blue

li
    list-style: none

@keyframes fade 
    0%
        opacity: 0
        
    100%
        opacity: 1

