@use 'colors'
@use 'typography'
@use 'layout'

.contact-section
    padding: layout.$header-p 3em 3em 3em
    color: colors.$primary-dark

    h2
        padding: 0
        margin: 0
        color: colors.$accent-blue

    .contact-container
        min-height: 50vh
        width: 100%
        padding-top: 2em
        display: flex
        

        .contact-content
            width: 50%
            padding-top: 4em

        
            .cta
                font-size: 22px
                

            ul
                padding: 0
                padding-top: 2em

                li
                    padding-top: 1em

                    span
                        position: relative
                        padding-left: 1em
                        bottom: 5px

            
        .contact-form
            width: 50%
            max-width:650px

            form
                display: flex
                flex-direction: column
                justify-content: center

                .input-control
                    position: relative
                    width: 100%
                    height: 50px
                    margin-bottom: 30px


                    input  
                        width: 100%
                        height: 100%
                        font: 100% typography.$font-main
                        font-size: 16px
                        outline: transparent
                        border: none
                        border-radius: 3px
                        padding: 0 10px
                        background: colors.$bg-cornsilk-opaque
                        color: colors.$primary-dark

                    input:not(:placeholder-shown) + label,
                    input:focus + label,
                    input:valid + label 
                        font-size: 12px
                        top: -13px
                        background: colors.$bg-cornsilk
                        padding: 5px
                        color: colors.$accent-blue

                    label 
                        position: absolute
                        top: 50%
                        left: 10px
                        transform: translateY(-50%)
                        font-size: 16px
                        color: colors.$primary-dark
                        pointer-events: none
                        transition: all .4s ease
                
                .text-control
                    position: relative
                    width: 100%
                    margin-bottom: 20px
                        
                    textarea
                        font: 100% typography.$font-main
                        width: 100%
                        height: auto
                        outline: none
                        border: none
                        border-radius: 3px
                        padding: 10px 10px
                        background: colors.$bg-cornsilk-opaque
                        color: colors.$primary-dark

                    
                    
                    textarea:not(:placeholder-shown) + label,
                    textarea:focus + label,
                    textarea:valid + label 
                        font-size: 12px
                        top: -25px
                        background: colors.$bg-cornsilk
                        padding: 5px
                        color:  colors.$accent-blue



                    label 
                        position: absolute
                        top: 5%
                        left: 10px
                        transform: translateY(-5%)
                        font-size: 16px
                        color: colors.$primary-dark
                        pointer-events: none
                        transition: all .4s ease



                button
                    background: colors.$accent-blue
                    color: colors.$bg-cornsilk
                    text-align: center
                    letter-spacing: 1px
                    font-size: 16px
                    border: none
                    border-radius: 3px
                    display: block
                    padding: 15px 8px
                    cursor: pointer


@media (max-width: 1000px )
    .contact-section
        padding: layout.$header-p 1em 1em 1em
            
        .contact-container
            height: auto
            width: 100%
            padding-top: 0em
            display: flex
            flex-direction: column
            padding-bottom: 5em

            .contact-form
                width: 100%
                order: 2


            .contact-content
                width: 100%
                order: 1
                padding-bottom: 3em