@use 'colors'
@use 'typography'
    
.horizontal-header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 100px
    border-bottom: 1px solid colors.$accent-blue
    padding-left: 2em

    .title-container
        display: flex
        align-items: center
        gap: 1em

        .logo-title 
            font: 100% typography.$font-hero
            color: colors.$accent-blue
            font-weight: 800
            font-size: 28px

            .name-title
                font-size: 20px
                font-weight: 600
                
                


    a
        
        .block-text
            height: 100px
            line-height: 100px
            width: 200px
            background-color: colors.$accent-blue
            color: colors.$bg-cornsilk
            text-align: center
            vertical-align: middle
            font-weight: 800
            