@use 'colors'
@use 'layout'
@use 'typography'

.hero-container
    min-height: 100vh
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    
    .hero-content 
        height: 100%
        width: 60%
        @include layout.flex-column-start()

        .title 
            font: 100% typography.$font-hero
            color: colors.$secondary-dark
            font-weight: 800
            font-size: 48px
            letter-spacing: 2px

        .about 
            width: 85%
            padding: 1em 0
            color: colors.$tertiary-dark

            p 
                padding-top: 1em
        
        .subtitle 
            color: colors.$tertiary-dark

        .social-container
            width: 100%
            padding-top: 1em
            display: grid
            grid-template-columns: 1fr 1fr
            row-gap: 10px

            a 
                text-decoration: none
                color: colors.$accent-dark
            
            .social-item
                display: flex
                gap: 10px

                img
                    height: 32px
                    width: auto
                

                    

    .hero-image 
        height: 100%
        width: 40%
        @include layout.flex-column-center()
        
        img 
            width: 350px
            height: 350px
            border-radius: 50%
            object-fit: cover
            

@media (max-width: 950px) 
    .hero-container 
        width: 100%
        display: flex
        flex-direction: column
        padding-bottom: 5em

        .hero-content 
            width: 100%
            @include layout.flex-column-center()
            order: 2
            text-align: center

            .social-container
                width: 500px

        .hero-image 
            padding-top: 5em
            padding-bottom: 2em
            width: 100%
            order: 1
            @include layout.flex-column-center()
        
            img 
                width: 250px
                height: 250px
                border-radius: 50%
                object-fit: cover
                

@media (max-width: 650px) 
    .hero-container 
        height: auto
        width: 100%
        display: flex
        flex-direction: column
        padding-bottom: 5em

        .hero-content 
            width: 100%
            @include layout.flex-column-center()
            order: 2
            text-align: center

            .social-container
                width: 420px

@media (max-width: 650px) 
    .hero-container 

        .hero-content 

            .social-container
                grid-template-columns: 1fr
                place-items: center
