@use 'colors'
@use 'layout'
@use 'typography'

.hero-container 
    height: 100vh
    width: 100%
    display: flex
    flex-direction: row
    
    .hero-content 
        height: 100%
        width: 60%
        @include layout.flex-column-start()

        .title 
            font: 100% typography.$font-hero
            color: colors.$secondary-dark
            font-weight: 800
            font-size: 48px
            letter-spacing: 2px

        .about 
            width: 85%
            padding: 1em 0
            color: colors.$tertiary-dark
        
        .subtitle 
            color: colors.$tertiary-dark

        .social-container
            display: flex
            gap: 2em

            a 
                text-decoration: none
                // color: colors.$primary-dark
                color: #A368FC
            
            .social-item
                display: flex
                gap: 10px

                img
                    height: 32px
                    width: auto

    .hero-image 
        height: 100%
        width: 40%
        @include layout.flex-column-center()
        
        img 
            width: 350px
            height: 350px
            border-radius: 50%
            object-fit: cover
            
