$sidebar: 90px
$sidebar-open: 300px
$header-p: 130px
    
@mixin flex-column-center()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

@mixin flex-column-start()
    display: flex
    flex-direction: column
    justify-content: center
