@use 'colors'
@use 'typography'
    
nav 
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 1em
    width: 100%
    background: colors.$primary-light

    h2 
        font: 100% typography.$font-hero
        font-weight: 800
        font-size: 28px


    ul
        display: flex
        flex-direction: row
        gap: 1em


    li
        list-style: none
        position: relative

        a 
            text-decoration: none
            color: colors.$secondary-dark


    li::after 
        content: ''
        position: absolute
        bottom: -2px
        display: block
        height: 2px
        // background: colors.$primary-dark
        background: colors.$accent-dark
        transition: width 0.3s ease 0s, left 0.3s ease 0s
        width: 0
        left:50%


    li:hover:after 
        width: 100%
        left: 0