@use 'colors'
@use 'layout'
@use 'typography'
@import 'utility'


.projects-container 
    min-height: 70vh
    height: auto
    width: 100%
    padding-bottom: 5em
    border-top: 1px solid colors.$accent-blue
    scroll-behavior: smooths 


    h2
        padding: 2em
        color: colors.$accent-blue

    .projects-grid
        display: grid
        grid-template-columns: repeat(2, 50%)
        margin-left: 1px
        margin-right: 1px

        .project
            position: relative
            width: 100%
            aspect-ratio: 1.4 / 1
            cursor: pointer
            border-top: 1px solid colors.$accent-blue
            @include magic-border(3px, colors.$accent-blue, 0.4s, 1)

            h3
                padding: 20px 0
                padding-left: 30px
                font-size: 18px
            
            .project-subtitle
                font-size: 22px
                padding-left: 30px
                color: colors.$tertiary-dark

            .project-url 
                padding-left: 30px

            a
                text-decoration: none
                color: colors.$accent-blue
            
            .image-container 
                display: flex
                justify-content: center
                align-items: center
                width: 100%
                height: 100%

                img 
                    width: 90%
                    transition: all 0.3s ease-out
                    border-radius: 3px


                img:last-of-type
                    aspect-ratio: 16 / 9
                    object-fit: cover
                    object-position: top

        .project:first-of-type
            border-right: 1px solid colors.$accent-blue
        .project:last-of-type
            border-left: 1px solid colors.$accent-blue
            border-bottom: 1px solid colors.$accent-blue
        .project:nth-of-type(3)
            border-bottom: 1px solid colors.$accent-blue

@media (max-width: 1000px) 
    .projects-container 

        .projects-grid
            grid-template-columns: 1fr
    
@media (max-width: 580px) 

    .projects-container 

        .projects-grid

            .project
                aspect-ratio: 1.6 / 1

                h3
                    padding-bottom: 0
                    margin-bottom: 0
                
                .project-subtitle
                    display: none

                .project-url 
                    display: none


