@use 'colors'
@use 'layout'
@use 'typography'


.projects-container 
    min-height: 70vh
    height: auto
    width: 100%
    padding-bottom: 5em


    h2
        padding: 2em

        color: colors.$accent-blue

    .projects-grid
        display: grid
        grid-template-columns: repeat(2, 50%)

        .project
            position: relative
            width: 100%
            aspect-ratio: 1.5 / 1
            overflow: hidden
            cursor: pointer
            border-top: 1px solid colors.$accent-blue
            

            h3
                padding: 20px 0
                padding-left: 30px
                font-size: 16px
            
            .project-subtitle
                font-size: 22px
                padding-left: 30px

            .project-url 
                padding-left: 30px

            a
                text-decoration: none
                color: colors.$accent-blue
            
            img 
                position: absolute
                height: 500px
                width: 500px
                transition: all 0.3s ease-out
                border-radius: 3px

            .image-collapse 
                top: 90%
                left: 10%

            .image-high 
                top: 30%
                left: 10%

            
            .project-info 
                padding: 20px 30px 30px 30px
                font-size: 16px
                height: 350px
                overflow-y: scroll
                
                p
                    padding-top: 10px

                .bold 
                    font-weight: bold

                ul
                    padding-top: 10px

                    li 
                        list-style: initial
                        padding-bottom: 10px
                        margin-left: 20px

        .project:first-of-type
            border-right: 1px solid colors.$accent-blue
        .project:last-of-type
            border-left: 1px solid colors.$accent-blue
            border-bottom: 1px solid colors.$accent-blue
        .project:nth-of-type(3)
            border-bottom: 1px solid colors.$accent-blue

@media ( max-width: 500px )
    .projects-container 
        .projects-grid
            .project
                .image-high 
                    top: 35%
                    left: 10%