@use 'colors'
@use 'typography'

.single-project-container
    padding: 3em
    padding-top: 130px
    width: 100%

    .project-header-flex
        display: flex
        justify-content: space-between
        width: 100%
        padding-right: 5em

        .project-header

            .project-url
                font-size: 1.2rem

            .project-name
                font-size: 3rem
                font-family: typography.$font-hero

            .project-subtitle
                font-size: 1.5rem
                color: colors.$tertiary-dark

        .next-project
            display: flex
            align-items: center
            justify-content: center
            gap: 5px
            border: 1px solid colors.$accent-blue
            background: none
            outline: transparent
            color: colors.$accent-blue
            font-size: 1rem
            width: 150px
            height: 70px
            padding: 10px 10px

    .project-flex
        display: flex

        .project-info
            width: 40%
            color: colors.$tertiary-dark
            font-size: 1rem
            line-height: 2

            ul

                li
                    list-style: initial
                    margin-left: 2em

            .stack-container
                padding: 2em 0
                display: flex
                flex-wrap: wrap
                justify-content: flex-start
                gap: 1em
                width: 100%

                .stack-tag
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: 5px
                    border: 1px solid colors.$accent-blue
                    width: 150px
                    padding: 10px 15px

            .project-info-item
                padding-top: 1em
        
            .bold
                font-weight: 600

            
            
        .project-image-container
            display: flex
            justify-content: center
            align-items: center
            width: 60%
        
            .project-image
                width: 80%

            .plantasia-img
                aspect-ratio: 1.2 / 1
                object-fit: cover
                object-position: top


@media (max-width: 1650px)
.single-project-container

    .project-flex
        padding-top: 3em
        flex-direction: column
        gap: 3em
        width: 100%


        .project-info
            order: 2
            width: 100%

            .stack-container
                justify-content: center

        .project-image-container
            order: 1
            width: 100%

@media (max-width: 850px)
    .project-header-flex
        flex-direction: column
        gap: 2em
        

@media (max-width: 500px)

    .single-project-container
        padding: 1em
        padding-top: 130px
        
        .project-flex
            
            .project-image-container
                    order: 1
                    width: 100%

                    .project-image
                        width: 95%

            