@font-face {
  font-family: "Powerr";
  src: url("./typography/PowerrExtraBold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F7F7F7;
  color: #222222;
  font: 100% Poppins, sans-serif;
  margin: 0 10em;
}

@media (max-width: 1024px) {
  body {
    margin: 0 5em;
  }
}
@media (max-width: 700px) {
  body {
    margin: 0 2em;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0 1em;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  background: #F7F7F7;
}
nav h2 {
  font: 100% "Powerr", Poppins, sans-serif;
  font-weight: 800;
  font-size: 28px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
nav li {
  list-style: none;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: #3B3B3B;
}
nav li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  display: block;
  height: 2px;
  background: #8662C7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 50%;
}
nav li:hover:after {
  width: 100%;
  left: 0;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.hero-container .hero-content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container .hero-content .title {
  font: 100% "Powerr", Poppins, sans-serif;
  color: #3B3B3B;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 2px;
}
.hero-container .hero-content .about {
  width: 85%;
  padding: 1em 0;
  color: #515151;
}
.hero-container .hero-content .subtitle {
  color: #515151;
}
.hero-container .hero-content .social-container {
  width: 100%;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}
.hero-container .hero-content .social-container a {
  text-decoration: none;
  color: #8662C7;
}
.hero-container .hero-content .social-container .social-item {
  display: flex;
  gap: 10px;
}
.hero-container .hero-content .social-container .social-item img {
  height: 32px;
  width: auto;
}
.hero-container .hero-image {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container .hero-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 950px) {
  .hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
  }
  .hero-container .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    text-align: center;
  }
  .hero-container .hero-content .social-container {
    width: 500px;
  }
  .hero-container .hero-image {
    padding-top: 5em;
    padding-bottom: 2em;
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-container .hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media (max-width: 650px) {
  .hero-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
  }
  .hero-container .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    text-align: center;
  }
  .hero-container .hero-content .social-container {
    width: 420px;
  }
}
@media (max-width: 650px) {
  .hero-container .hero-content .social-container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.projects-container {
  min-height: 70vh;
  height: auto;
  width: 100%;
  padding-bottom: 5em;
}
.projects-container h2 {
  padding-bottom: 2em;
  color: #3B3B3B;
}
.projects-container .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 3rem;
}
.projects-container .projects-grid .project {
  position: relative;
  background: #CFBCF2;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
.projects-container .projects-grid .project h3 {
  padding: 20px 0;
  padding-left: 30px;
  font-size: 16px;
}
.projects-container .projects-grid .project .project-subtitle {
  font-size: 22px;
  padding-left: 30px;
}
.projects-container .projects-grid .project .project-url {
  padding-left: 30px;
}
.projects-container .projects-grid .project a {
  text-decoration: none;
  color: #F7F7F7;
}
.projects-container .projects-grid .project img {
  position: absolute;
  height: 500px;
  width: 500px;
  transition: all 0.3s ease-out;
  border-radius: 3px;
}
.projects-container .projects-grid .project .image-collapse {
  top: 90%;
  left: 10%;
}
.projects-container .projects-grid .project .image-high {
  top: 30%;
  left: 10%;
}
.projects-container .projects-grid .project .project-info {
  padding: 20px 30px 30px 30px;
  font-size: 12px;
  height: 350px;
  overflow-y: scroll;
}
.projects-container .projects-grid .project .project-info p {
  padding-top: 10px;
}
.projects-container .projects-grid .project .project-info .bold {
  font-weight: bold;
}
.projects-container .projects-grid .project .project-info ul {
  padding-top: 10px;
}
.projects-container .projects-grid .project .project-info ul li {
  list-style: initial;
  padding-bottom: 10px;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .projects-container .projects-grid .project .image-high {
    top: 35%;
    left: 10%;
  }
}
.tools-container {
  height: auto;
  width: 100%;
  padding-bottom: 5em;
}
.tools-container h2 {
  padding-bottom: 2em;
  padding-bottom-color: #3B3B3B;
}
.tools-container .slideshow {
  height: 150px;
  margin: 0 auto;
  position: relative;
  transform: translate3d(0, 0, 0);
  display: flex;
  width: 100%;
  overflow: hidden;
}
.tools-container .slideshow .move {
  height: 100%;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
  animation: moveSlideshow 16s linear infinite;
}
.tools-container .slideshow .move .wrapper {
  width: 120px;
  height: 120px;
  padding-left: 30px;
  display: inline-block;
}
@keyframes moveSlideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

h2 {
  padding: 0;
  margin: 0;
}

.contact-container {
  min-height: 50vh;
  width: 100%;
  padding-top: 2em;
  display: flex;
  padding-bottom: 5em;
}
.contact-container .contact-content {
  width: 50%;
  padding-top: 4em;
}
.contact-container .contact-content .cta {
  font-size: 22px;
}
.contact-container .contact-content ul {
  padding: 0;
  padding-top: 2em;
}
.contact-container .contact-content ul li {
  padding-top: 1em;
  list-style: none;
}
.contact-container .contact-content ul li span {
  position: relative;
  padding-left: 1em;
  bottom: 5px;
}
.contact-container .contact-form {
  width: 50%;
}
.contact-container .contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-container .contact-form form .input-control {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.contact-container .contact-form form .input-control input {
  width: 100%;
  height: 100%;
  font: 100% Poppins, sans-serif;
  font-size: 16px;
  outline: none;
  border: 2px solid #CFCFCF;
  border-radius: 3px;
  padding: 0 10px;
  background: #F7F7F7;
  color: #515151;
}
.contact-container .contact-form form .input-control input:not(:placeholder-shown) + label,
.contact-container .contact-form form .input-control input:focus + label,
.contact-container .contact-form form .input-control input:valid + label {
  font-size: 12px;
  top: 0;
  background: #F7F7F7;
  padding: 5px;
  color: #515151;
}
.contact-container .contact-form form .input-control label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #CFCFCF;
  pointer-events: none;
  transition: all 0.4s ease;
}
.contact-container .contact-form form .text-control {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-container .contact-form form .text-control textarea {
  font: 100% Poppins, sans-serif;
  width: 100%;
  height: auto;
  outline: none;
  border: 2px solid #CFCFCF;
  border-radius: 3px;
  padding: 10px 10px;
  background: #F7F7F7;
  color: #515151;
}
.contact-container .contact-form form .text-control textarea:not(:placeholder-shown) + label,
.contact-container .contact-form form .text-control textarea:focus + label,
.contact-container .contact-form form .text-control textarea:valid + label {
  font-size: 12px;
  top: -10px;
  background: #F7F7F7;
  padding: 5px;
  color: #515151;
}
.contact-container .contact-form form .text-control label {
  position: absolute;
  top: 5%;
  left: 10px;
  transform: translateY(-5%);
  font-size: 16px;
  color: #CFCFCF;
  pointer-events: none;
  transition: all 0.4s ease;
}
.contact-container .contact-form form button {
  background: #8662C7;
  color: #F7F7F7;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  display: block;
  padding: 15px 8px;
  cursor: pointer;
}

@media (max-width: 860px) {
  .contact-container {
    height: auto;
    width: 100%;
    padding-top: 0em;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
  }
  .contact-container .contact-form {
    width: 100%;
    order: 2;
  }
  .contact-container .contact-content {
    width: 100%;
    order: 1;
    padding-bottom: 3em;
  }
}

/*# sourceMappingURL=output.css.map */
